# Ignore Python virtual environments
.venv/
__pycache__/
*.pyc

# Ignore Rust build artifacts
**/target/
*.rs.bk

# Ignore Python-specific files
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.env
*.env.example
.python-version

# Ignore Rust-specific files
Cargo.lock
*.rlib

# Ignore output and debug files
debug_html/
python_scraper_api/output/
output/
output_csvs/
*.html
*.csv
debug_page.html

# Ignore system files
.DS_Store
Thumbs.db